@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Welcome</h3>

<audio autoplay id="myaudio">
    <source src="~/IMG/guh.m4a"
            type='audio/ogg; codecs=vorbis'>
</audio>